@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Finance Manager</h1>
    <p class="lead">Personal Finance Manager allows you to plan and track records of your expense</p>
    <a>@Html.ActionLink("Add Money Stream", "Index", "Books")</a>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Current Amount</th>
                <th>Average Daily Expense</th>
                <th>Currency</th>
                <th>Days Until Next Income</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Book 1</td>
                <td>900</td>
                <td>60</td>
                <td>BGN</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Book 2</td>
                <td>150</td>
                <td>50</td>
                <td>BGN</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>