@model PersonalFinanceManager.ViewModels.Books.BooksVM

@{
    ViewBag.Title = "Books Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>Expenses Books</h2>
    </div>
</div>
<div id="create-edit">
    @Html.Partial("_BooksFormPartial", Model.BookFormVm)
</div>
<div id="update-target">
    @Html.Partial("_BooksListPartial", Model.Books)
</div>
@Scripts.Render("~/bundles/services")