@model PersonalFinanceManager.ViewModels.Categories.CategoriesViewModel

@{
    ViewBag.Title = "Categories Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>Expenses Categories</h2>
    </div>
</div>
<div id="create-edit">
    @Html.Partial("_CategoriesCreatePartial", Model.Category)
</div>
<div id="update-target">
    @Html.Partial("_CategoriesListPartial", Model.Categories)
</div>
@Scripts.Render("~/bundles/services")