@model PersonalFinanceManager.ViewModels.Categories.CategoriesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="create-edit">
    @Html.Partial("_CategoriesCreatePartial", Model.category)
</div>
<div id="update-target">
    @Html.Partial("_CategoriesIndexPartial", Model.categories)
</div>
<script>
    function ClearForm() {
        $('#catname').val('');
    }
</script>