@model PersonalFinanceManager.ViewModels.MoneyStreams.MoneyStreamsIndexVM
@{
    ViewBag.Title = "Money Streams Index";
}

<div class="row">
    <div class="col-md-12">
        <h2>Money Streams</h2>
    </div>
</div>
<div id="moneyStreams-create">
    @Html.Partial("_MoneyStreamsFormPartial", Model.MoneyStreamsFormVM)
</div>
<div id="moneyStreams-list">
    @Html.Partial("_MoneyStreamsListPartial", Model.MoneyStreamsListVM)
</div>
@Scripts.Render("~/bundles/services")