@model PersonalFinanceManager.ViewModels.MoneyStreams.MoneyStreamIndexViewModel
@{
    ViewBag.Title = "Money Streams Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>Expenses Categories</h2>
    </div>
</div>
<div class="row" id="create-edit">
    @Html.Partial("_MoneyStreamsCreatePartial", Model.MoneyStream)
</div>
<div class="row" id="update-target">
    @Html.Partial("_MoneyStreamsListPartial", Model.MoneyStreams)
</div>
@Scripts.Render("~/bundles/services")