@model IEnumerable<PFM.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>System Users</h2>

<table class="table-bordered table-striped">
    <thead>
    <tr>
        <th>Email</th>
        <th>Make Inactive</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.isActive)
            </td>
        </tr>
    }
    </tbody>
</table>